<mat-card *ngIf="set" class="item">
    <mat-card-title>{{ set.number }} -- {{ set.name }}</mat-card-title>
    <mat-card-subtitle>
        {{ set.theme }} / {{ set.subtheme }}
    </mat-card-subtitle>
    <img *ngIf="set.bricksetImage as src" [src]="src" mat-card-image />
    <mat-card-actions>
        <button *ngIf="user$ | async" (click)="edit.emit(set)" mat-button>
            <mat-icon>edit</mat-icon>
            <span> Edit</span>
        </button>
        <div class="action-spacer"></div>
        <a *ngIf="set.bricksetUrl as url" [href]="url" mat-button>BrickSet</a>
        <a *ngIf="set.rebrickableUrl as url" [href]="url" mat-button>Rebrickable</a>
    </mat-card-actions>
</mat-card>